<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Sounds API</title>
</head>
<body>
    <h1>Bienvenido a la API de Sonidos de Animales</h1>
    <p>Consulta como hacen los animales:</p>
    <code>/animal-sound/&lt;animal&gt;</code>
    <h2>Animales disponibles:</h2>
    <ul>
        {% for animal, sound in animals.items() %}
        <li>{{ animal.title() }}</li>
        
        {% endfor %}
    </ul>
</body>
</html>
